.mob-menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
}

.mob-menu.is-open {
  display: flex;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.mob-menu.is-open .overlay {
  opacity: 1;
}

.mob-menu_wrapper {
  position: absolute;
  top: 0;
  right: 0;
  width: 80%;
  max-width: 400px;
  height: 100%;
  background-color: white;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  padding: 2rem;
}

.mob-menu.is-open .mob-menu_wrapper {
  transform: translateX(0);
}